[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "==3.0.2"
kiwisolver = "==1.0.1"
numpy = "==1.15.4"
pyparsing = "==2.3.0"
python-dateutil = "==2.7.5"
pytz = "==2018.7"
six = "==1.11.0"
Django = "==2.2.13"
Cycler = "==0.10.0"

[dev-packages]

[requires]
python_version = "3.7"
