{% extends "core/base.html" %}

{% block title %}Chile{% endblock %}
{% block content %}
<div class="mt-0" style="background-color: rgb(231, 231, 231);">
    <div class="d-flex border justify-content-center text-center">
        <img src="/plot/" class="img-fluid border mt-3 " width="700px"/>
    </div>
    <div class="container d-flex " style="max-width: 600px;">
        <div class="pt-2">
            <p class="p-0 m-0" style="font-size:0.8rem;">F = Factor de exposición, n = día enésimo, I = Infectados </p>
            <p class="p-0 m-0" style="font-size:0.8rem;">F = I(n+1) &divide; I(n)</p>
            <p class="p-0 m-0" style="font-size:0.8rem;">Fprom = (&sum; F)  &divide; n </p>
        </div>
    </div>
    <hr>
    <div class="mx-auto d-flex" style="max-width: 600px;">
        <div class="pt-0 col-lg-auto mr-auto">
            CHILE
            {% for chi in chile %}
            <p class="p-0 m-0" style="font-size:0.8rem;">Fprom({{chi.name}})= {{chi.prom_factor}} </p>
            {% endfor %}
        </div>
        <div class="pt-0 col-lg-auto ml-auto">
            OTROS PAISES
          {% for country in countries %}
            <p class="p-0 m-0" style="font-size:0.8rem;">Fprom({{country.name}})= {{country.prom_factor}} </p>
            {% endfor %}
        </div>
    </div>
    <div class="pt-2 d-flex justify-content-center text-center">
        <p style="font-size:0.6rem;">* Los Factores son considerados a partir de la fecha el primer contagio en Chile (03/03/2020). Datos del país obtenidos del Ministerio de Salud, Chile.</p>
    </div>
</div>
{% endblock %}
